* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background: #000;
  height: 100%;
  margin: 0 6%;
  padding: 0;
}

.lv-title {
  display: flex;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 3px;
  justify-content: center;
  margin: 0;
  padding-top: 20px;
  color: #92b4ff;
}

.lv-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

/* ________________________________________________CARDS_________________________________________________ */

.lv-container {
  width: 90vw;
  height: auto;
  padding: 0;
}
.lv-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 20px;
  padding: 0;
  gap: 10px;
}

.lv-card {
  display: flex;
  max-width: 775px;
  max-height: 250px;;
  flex-direction: column;
  border: 1px solid silver;
  overflow: hidden;
}

.lv-card-title {
  text-align: center;
  margin: 4px 0;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20px;
  letter-spacing: 1px;
}

.lv-card-body img {
  width: auto;
  height: auto;
}

.smaill-image {
  background: #fff;
}

.small-image:hover {
  opacity: 50%;
  transition: .2s;
}

/* ________________________________________ABOUT______________________________________________ */

.about-title {
  text-align: center;
  margin: 12px 0 20px 0;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 22px;
  color: #92b4ff;
  letter-spacing: 1px;
}

.about-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20%;
}

.about-text > p {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
}

/* _________________________________CONTACT________________________________ */

.contact-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  margin: 50px 0;
}

.contact-left {
  width: 50%;
  height: 30em;
  margin-bottom: 50px;
  padding-left: 50px;
}

.contact-container h1 {
  display: flex;
  flex-direction: column;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 24px;
  letter-spacing: 2px;
  color: #92b4ff;
}

.contact-container h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  width: 50%;
}

.contact-options {
  display: flex;
  flex-direction: column;
}

.email,
.phone,
.error {
  margin: 8px 0;
}

.email a,
.phone a,
.error a {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1px;
  text-decoration-line: none;
  color: whitesmoke;
  margin: 30px 0;
}

.email a:hover,
.phone a:hover,
.error a:hover {
  color: #92b4ff;
  text-decoration-line: underline;
  transition: .3s;
}

.quote-cont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-right: 0;
  float: right;
  background: transparent;
  color: whitesmoke;
}

.quote-title {
  display: flex;;
  margin: 32px 0;
}

.quote-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  font-weight: 200;
  letter-spacing: 2px;
  text-decoration-style: italic;
  font-size: 16px;
}

#quotes {
  display: flex;
  justify-content: center;
  margin-top: 0;
  width: 100%;
}

/* _______________________________________ERROR_________________________________________ */

.error-container {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  align-items: center;
}

.error-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  color: black;
  margin-bottom: 0;
  padding-top: 100px;
}

.error-container p {
  color: #000;
  font-size: 40px;
  letter-spacing: 2px;
}

.back-btn {
  font-family: monospace;
  font-size: 40px;
  color: silver;
  background: #000;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.back-btn:hover {
  color: #92b4ff;
  transition: .5s;
}

.site-link {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.error-container a {
  font-family: monospace;
  font-size: 20px;
  text-decoration-line: none;
}

.error-container a:hover {
  color: #000;
  opacity: 65%;
}