* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  /* width: 100vw;
  height: 100vh; */
}

body {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background: #000;
  height: 100%;
  margin: 0 6%;
  padding: 0;
}

.lv-title {
  display: flex;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 3px;
  justify-content: center;
  margin: 0;
  padding-top: 20px;
  color: #92b4ff;
}

.lv-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

/* ________________________________________________CARDS_________________________________________________ */

.lv-container {
  width: 90vw;
  height: auto;
  padding: 0;
}
.lv-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 20px;
  padding: 0;
  gap: 10px;
}

.lv-card {
  display: flex;
  max-width: 775px;
  max-height: 250px;;
  flex-direction: column;
  border: 1px solid silver;
  overflow: hidden;
}

.lv-card-title {
  text-align: center;
  margin: 4px 0;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20px;
  letter-spacing: 1px;
}

.lv-card-body img {
  width: auto;
  height: auto;
}

.smaill-image {
  background: #fff;
}

.small-image:hover {
  opacity: 50%;
  transition: .2s;
}

/* ________________________________________ABOUT______________________________________________ */

.about-title {
  text-align: center;
  margin: 12px 0 20px 0;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 22px;
  color: #92b4ff;
  letter-spacing: 1px;
}

.about-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 20%;
}

.about-text > p {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
}