* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  height: 100vh;
  margin: 0 6%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background: #000;
  height: 100vh;
  margin: 0 6%;
  padding: 0;
}

/* ________________________________________________HEADER__________________________________________________ */

/* header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
  padding: 20px 30px;
  width: 100%;
  border-bottom: 1px solid silver;
} */

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
  margin-bottom: 20px;
}

.main-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 32px;
  line-height: 0.9;
}

.sayre-title {
  margin-bottom: 0;
}

.photography-title {
  opacity: 50%;
  margin: 0;
}

/* nav {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
} */
/* _____________________________________________________________________________________________________ */

.home-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 50px; */
  width: 100%;
  
}

nav {
  /* background: skyblue; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 20%;
  /* margin: 0 60px 0 20px; */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 200;
}

nav > a {
  display: flex;
  width: 100px;
  text-decoration-line: none;
  letter-spacing: 2px;
  color: whitesmoke;
  padding: 10px 0;
  margin-bottom: 20px;
  line-height: 1.2;
}

nav > a:hover {
  color: #92b4ff;
}

nav > a:active {
  color: #92b4ff;
}

/* ___________________________________________FEATURE CONTAINER________________________________________ */

.gallery {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* margin-left: 40px; */
  justify-content: space-around;
  /* background: darkgray; */
  width: 100%;
  height: 100%;
}

/* .image {
  display: block;
  width: 100%;
  position: relative;
  left: 60px;
} */

img {
  display: flex;
  max-height: 600px;
  max-width: auto;
  /* margin-left: 20%; */
}

.menu-rt {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  width: 240px;
  height: auto;
}

/* _________________________________________________FOOTER_____________________________________________ */

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 0;
  margin-top: 20px;
  letter-spacing: 1px;
  width: 100%;
  border-top: 1px solid silver;
  position: relative;
  top: 0;
}

.footer-left {
  width: 400px;
}

.mailto {
  text-decoration-line: none;
  color: rgb(151, 174, 203);
}

.mailto:hover {
  color: whitesmoke;
}
