* {
  box-sizing: border-box;
}

:root {

}

body {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  height: 100vh;
  margin: 0 6%;
  padding: 0;
}

/* ________________________________________________HEADER__________________________________________________ */

header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 30px;
  width: 100%;
  border-bottom: 1px solid silver;
}

.main-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 22px;
  line-height: 0.9;
}

.sayre-title {
  margin-bottom: 0;
}

.photography-title {
  opacity: 50%;
  margin: 0;
}

nav {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

nav > a {
  text-decoration-line: none;
  color: #000;
  margin: 0 12px;
}

nav > a:hover {
  color: slateblue;
}

nav > a:active {
  color: slateblue;
}

/* ___________________________________________FEATURE CONTAINER________________________________________ */

.feature-container {
  height: 100%;
  width: 100%;
}

/* _________________________________________________FOOTER_____________________________________________ */

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 30px;
  width: 100%;
  border-top: 1px solid silver;
  position: relative;
  top: 0;
}

.footer-left {
  width: 400px;
}
