* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background: #000;
  height: 100vh;
  margin: 0 6%;
  padding: 0;
}

/* ________________________________________________HEADER__________________________________________________ */

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid silver;
  margin-bottom: 12px;
}

.main-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 30px;
  line-height: 0.9;
}

.main-title a {
  text-decoration-line: none;
  color: whitesmoke;
  font-weight: 100;
}

.main-title a:hover {
  color: #92b4ff;
  transition: .2s;
}

.sayre-title {
  margin-bottom: 0;
}

.photography-title {
  opacity: 50%;
  margin: 0;
}

.home-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;  
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

nav > a {
  display: flex;
  width: auto;
  text-decoration-line: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 3px;
  color: whitesmoke;
  padding: 10px 0;
  margin: 0 28px 14px 28px;
  line-height: 1.2;
}

nav > a:hover {
  color: #92b4ff;
}

nav > a:active {
  color: #92b4ff;
}

/* ___________________________________________FEATURE CONTAINER________________________________________ */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.small-image {
  display: flex;
  max-height: 700px;
  max-width: auto;
  cursor: pointer;
}

/* _________________________________________________FOOTER_____________________________________________ */

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 0;
  margin-top: 20px;
  letter-spacing: 1px;
  width: 100%;
  border-top: 1px solid silver;
  position: relative;
  top: 0;
}

.footer-left {
  width: 400px;
}

.mailto {
  text-decoration-line: none;
  color: rgb(151, 174, 203);
}

.mailto:hover {
  color: whitesmoke;
}
